<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: ghostwhite">
<div class="topnav">
    <a class="active" th:href="@{/}">Home</a>
    <a th:href="@{/logout}" style="float: right">Logout</a>
</div>
<div class="jumbotron jumbotron-fluid" style="background-color: ghostwhite">
    <div class="container">
        <h1 style="text-align: center; font-family: fantasy;" class="login">Update Book</h1>
        <hr>
        <form th:action="@{/books/edit/{bookId}(bookId=${book.id})}" th:object="${book}" method="POST">
            <div class="form-group">
                <label for="bookTitle">Book Title<span>*</span></label>
                <input type="text" th:field="*{bookTitle}" class="form-control" id="bookTitle">
                <div class="alert alert-warning" th:if="${#fields.hasErrors('bookTitle')}"
                     th:errors="*{bookTitle}"></div>
            </div>

            <div class="form-group">
                <label for="bookAuthor">Book Author<span>*</span></label>
                <textarea type="text" th:field="*{bookAuthor}" class="form-control"
                          id="bookAuthor"></textarea>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('bookAuthor')}"
                     th:errors="*{bookAuthor}"></div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

</body>
</html>